extends layout

block content
  .row(style="text-align:center;")
    h1= title
  .row.contenido.justify-content-center
    .col-md-10
      .row
        each item in blogs 
          .card(style='width: 18rem;')
            img.card-img-top(src='#{item.img}')
            .card-body
              h5.card-title #{item.titulo}
              p.card-text
                | #{item.description}
              a.btn.btn-primary(href='/blog/#{item.slug}') Ver Completo
